<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://icoinmarket.com/images/cryptocurrency.png">
</div>
<h2>A summary of crypto market data </h2>
<app-user-profile></app-user-profile>
<app-watch-list-form></app-watch-list-form>
{{ message | async | json }}
<ul>
  <li class="text" *ngFor="let item of vol_buzz | async">
    {{item.name}}{{item.symbol}}
  </li>
</ul>

