<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://icoinmarket.com/images/cryptocurrency.png">
</div>
<h2>A summary of crypto market data </h2>

<app-watch-list-form></app-watch-list-form>
<h2>Top Losers: </h2>
{{ message | async | json }}
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}{{item.symbol}}
  </li>
</ul>
<ul>
  <li>
    <h3>Last Gainer 24 hrs:</h3>{{ Last24h }}
  </li>
  <li>
    <h3>Last Gainer 7 days:</h3>{{ Last7Day }}
  </li>
  <li>
    <h3>Last Gainer 1 hrs:</h3>{{ Last1H }}
  </li>
</ul>

